div.form-control input:focus {
  outline: none;
}
/* Stupid Bootstrap bug */
@media(min-width: 768px) {
  .navbar-static-top .navbar-collapse {
    padding-left: 15px;
    padding-right: 15px;
  }
}
/* No pseudo-classes ...yet */
.active-drop-target {
  box-shadow: 0 0 0.5em green;
}
.nav-tabs {
  margin-bottom: 15px;
}
img {
  /* If I specify width/height on an <img> I want it to be that high regardless of border */
  box-sizing: content-box;
}
.dead {
  border: 2px solid red;
  margin: 1px;
}
.alive {
  margin: 3px;
}
output {
  padding-top: 0;
}
.replay-controls {
  display: flex;
}
.replay-controls > * {
  margin-right: 4px;
}
.replay-controls > *:last-child {
  margin-right: 0;
}
[data-tooltip] {
  position: relative;
}
[data-tooltip]::after {
  display: block;
  visibility: hidden;
  position: absolute;
  left: 95%;
  opacity: 0;
  content: attr(data-tooltip);
  padding: 4px 6px;
  z-index: 999;
  color: black;
  background: rgb(255, 229, 204);
  border-radius: 5px;
  border: 1px solid black;
  white-space: nowrap;
  transition: all 0.3s ease-in-out;
}

[data-tooltip]:hover::after {
  visibility: visible;
  opacity: 1;
}
